%tr{class: gift.css_available_class}
  %td
    %span.glyphicon.glyphicon-gift{ style: 'margin-right: 5px' }
    = link_to "#{gift.name}", gift_path(gift), :method => :get
  %td
    = link_to gift.short_description, gift_path(gift)
  %td
    - gift.available_search_site.each do |site|
      %a.gift-search-icon{ href: gift.search_site_url(site), target: '_blank', title: "'Search in #{site}" }
        =image_tag("#{site}.ico", size: "18x18")
    
  %td
    .btn-group{:role => "group"}
      - if gift.listed_by?(current_user)   
        / = link_to 'Edit', edit_gift_path(gift), :class => "btn btn-primary", :method => :get
        = link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
      - elsif gift.can_be_reserved_by?(current_user)
        = link_to "Buy", toggle_buyer_gift_path(gift), :method => :post, :class => "btn btn-primary"
      - elsif gift.reserved_by?(current_user)
        = link_to "Resign", toggle_buyer_gift_path(gift), :method => :post, :class => "btn btn-danger"
  %td
    - if gift.listed_by?(current_user)
      - if gift.bought?
        Bought by
        = gift.buyer.name