%h1 
  #{list.name}
%br

%table.table.table-hover
  %tr
    %th Name
    %th Actions
    

  - gifts.each do |gift|
    %tr{class: gift.css_available_class}
      %td= link_to "#{gift.name}", gift_path(gift), :method => :get
      %td
        .btn-group{:role => "group"}
          - if gift.listed_by?(current_user)   
            / = link_to 'Edit', edit_gift_path(gift), :class => "btn btn-primary", :method => :get
            = link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"
          - elsif gift.can_be_reserved_by?(current_user)
            = link_to "Buy", toggle_buyer_gift_path(gift), :method => :post, :class => "btn btn-primary"
          - elsif gift.reserved_by?(current_user)
            = link_to "Resign", toggle_buyer_gift_path(gift), :method => :post, :class => "btn btn-danger"

=link_to "Edit Your List", edit_list_path(list), :class => "btn btn-primary btn-lg"
      
